.row {
  display: flex;
}
.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.board {
  margin:  50px;
}
.ship {
  background-color: black;
}
.misses {
  background-color: aqua;
}
.hit {
  background-color: crimson;
}
.board-container {
  display: flex;
  justify-content: space-around;
}
.sunk {
  background-color: gray;
}